<div class="container px-5 px-sm-0">
<div class="row">
<div class="d-grid gap-2 col-6 mx-auto">
<div class="d-grid gap-2">

<h1>Welcome to <i class="fa-solid fa-book"></i>Bookers !!</h1>
<p>In <i class="fa-solid fa-book"></i><span style="font-weight: bold;">Bookers</span>,</b></p>

<p>you can share and exchange your opinions , inpressions , and emotions</p>

<p>about various books! </p>


<div style="padding-bottom: 10px;">
    <!--ボタンの下にスペース-->
  <button class="btn btn-primary" type="button" style="color: white; width: 500px">
      <%= link_to "Log in", user_session_path, style: "color: white;" %></button>
</div>

<div style="padding-top: 10px;">
  <button class="btn btn-success" type="button"  style="color: white; width: 500px;">
      <%= link_to "Sign up",  new_user_registration_path, style: "color: white;" %></button>
</div>
    </div>
        </div>
            </div>
        </div>
    <div>